# It's important to leave two spaces before '- job_name:'
{% for app in test2.apps %}
  - job_name: '{{ app.get("server", app.name) }}'
    static_configs:
      - targets:
{% set inventory =  app.get("inventory",  default_app.inventory) %}
{% for env, countries in inventory.iteritems() %}
{% for country, machines in countries.iteritems() %}
{% set services =  app.get("services",  default_app.services) %}
{% for service in services %}
{% if machines is defined and machines > 0 %}
{% for n in range(1, machines + 1) %}
{% if env == "int" %}
        - {{ app.name }}{{ n }}.{{ env }}:{{ service }}
{% else %}
        - {{ app.name }}{{ n }}.{{ env }}.{{ country }}:{{ service }}
{% endif %}
{% endfor %}
{% else %}
{% if env == "int" %}
        - {{ app.name }}.{{ env }}:{{ service }}
{% else %}
        - {{ app.name }}.{{ env }}.{{ country }}:{{ service }}
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}
{% endfor %}
{% endfor %}
