global:
  # How frequently to scrape targets by default.
  # [ scrape_interval: <duration> | default = 1m ].
  scrape_interval: {{ prometheus_scrape_interval }}

  # How long until a scrape request times out.
  # [ scrape_timeout: <duration> | default = 10s ]
  scrape_timeout: {{ prometheus_scrape_timeout }}

  # How frequently to evaluate rules.
  # [ evaluation_interval: <duration> | default = 1m ]
  evaluation_interval: {{ prometheus_evaluation_interval }}

  # The labels to add to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  #[ <labelname>: <labelvalue> ... ]
  external_labels:
  {% for label in prometheus_external_labels %}
    {{ label.name }}: {{ label.value }}
  {% endfor %}

{% if (prometheus_remote_read_endpoints is defined) and prometheus_remote_read_endpoints %}
remote_read:
{% for remote_endpoint in prometheus_remote_read_endpoints %}
  - url: "{{ remote_endpoint.url }}"
{% endfor %}
{% endif %}

{% if (prometheus_remote_write_endpoints is defined) and prometheus_remote_write_endpoints%}
remote_write:
{% for remote_endpoint in prometheus_remote_write_endpoints %}
  - url: "{{ remote_endpoint.url }}"
{% if remote_endpoint.queue_config is defined %}
    queue_config:
{% for queue_config_key, value in remote_endpoint.queue_config.items() %}
      {{ queue_config_key }}: {{ value }}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}

rule_files:
{% for template in prometheus_rules_templates %}
  - {{ prometheus_conf_path }}/rules/{{ template }}
{% endfor %}

{% if prometheus_version.startswith('2') %}
alerting:
  alertmanagers:
  - static_configs:
    - targets:
      - {{ prometheus_alertmanager_host }}:{{ prometheus_alertmanager_port }}
{% endif %}

scrape_configs:
  - job_name: 'prometheus_statistics'
    static_configs:
      - targets:
        - {{ ansible_nodename }}:9090

{% if grafana_host is defined %}
  - job_name: 'grafana'
    static_configs:
      - targets:
        - {{ grafana_host }}:9100

{% endif %}
