[Unit]
Description=Prometheus server
Requires=network-online.target
After=network-online.target

[Service]
PrivateTmp=yes
User={{ prometheus_user }}
Group={{ prometheus_group }}
RuntimeDirectory=prometheus_server
ExecStart=/bin/sh -c "{{ prometheus_bin_path }}/prometheus {% for option in prometheus_options %}-{{ option }} {% endfor %}> {{ prometheus_log_path }}/{{ prometheus_log_file }} 2>&1"
ExecStartPost=/bin/sh -c "echo $MAINPID > /run/prometheus_server/prometheus_server.pid"
ExecReload=/bin/kill -HUP $MAINPID
PIDFile=/run/prometheus_server/prometheus_server.pid
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
